{% extends 'base-back.html.twig' %}

{% block content %}
    <h1>Create new Like</h1>

    {{ include('like/_form.html.twig') }}
<br>
    <a href="{{ path('like_index') }}" type="button" class="btn btn-primary waves-effect waves-light">back to list</a>
{% endblock %}
