{% extends 'base-back.html.twig' %}

{% block content %}

    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('reclamation_index') }}">back to list</a>
{% endblock %}
