{% extends 'base-back.html.twig' %}

{% block content %}
    <h1>Create new Commentaire</h1>

    {{ include('commentaire/_form.html.twig') }}
<br>
    <a href="{{ path('commentaire_index') }}" type="button" class="btn btn-primary waves-effect waves-light">back to list</a>
{% endblock %}
